In [ ]:
person = {
    "first":"Corey",
    "last":"Schafer",
    "email":"CoreyMSchafer@gmail.com"
}

In [ ]:
people = {
    "first":["Corey","Ammar","Tuba","Mariya"],
    "last": ["Schafer","Shaikh","Shaikh","Shaikh"],
    "email":["CoreyMSchafer@gmail.com","Shaikhmohammedammar62@gmail.com","ShaikhTubaTaheseen@gmail.com","ShaikhMariyaTaheseen@gmail.com"]
}

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(people)

In [ ]:
df[["first","last"]]

In [ ]:
df.columns

In [ ]:
df.iloc[[0,1],[1,2]]

In [ ]:
df.loc[[0,1],["email","last"]]

In [ ]:
df.set_index("email")

In [ ]:
filt = (df["last"] == "Shaikh") & (df["first"]=="Ammar")

In [ ]:
df.loc[~filt,"email"]

In [34]:
df.columns = ["first_name","last_name","email_address"]

In [42]:
df.columns = [x.lower() for x in df.columns]

In [44]:
df.columns = df.columns.str.replace(' ',"_")

In [47]:
df.rename(columns={"first_name": "first","last_name":"last","email_address":"email"},inplace=True)

In [54]:
df.loc[2] = ["Bablu","Shaikh","Shaikhamersohel@gmail.com"]

In [55]:
df

    first     last                            email
0   Corey  Schafer          CoreyMSchafer@gmail.com
1   Ammar   Shaikh  Shaikhmohammedammar62@gmail.com
2   Bablu   Shaikh        Shaikhamersohel@gmail.com
3  Mariya   Shaikh   ShaikhMariyaTaheseen@gmail.com

In [56]:
df.loc[2,["first","email"]]= ["Tuba","ShaikhtubaTaheseen@gmail.com"]

In [59]:
df.at[2,"last"] = "Taheseen"

    first      last                            email
0   Corey   Schafer          CoreyMSchafer@gmail.com
1   Ammar    Shaikh  Shaikhmohammedammar62@gmail.com
2    Tuba  Taheseen     ShaikhtubaTaheseen@gmail.com
3  Mariya    Shaikh   ShaikhMariyaTaheseen@gmail.com